@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>

@{
    ViewBag.Title = " Danh Mục Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section naviHeader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/productcategory" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>

}
@section navbarSearch{
    <!-- Left navbar links -->
    <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
            <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
            @*@using (Html.BeginForm("index", "News", FormMethod.Get, new { }))
                {
                    <div class="input-group input-group-sm">
                        @Html.TextBox("Searchtext", new {@class = "form-control form-control-navbar",
                       @placeholder = "Search",@type="search"})
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>


                    </div>
                 }*@
            <form class="form-inline" method="get" action="/Admin/productcategory/Index">
                <div class="input-group input-group-sm">
                    <input id="SearchText" name="SearchText" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                        <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản Lý Danh Mục Sản Phẩm </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách @ViewBag.Title</h3>

            <div class="card-tools">
                <a href="/admin/productcategory/Add" class="btn btn-primary"> Thêm mới</a>
                <a href="#" class="btn btn-danger" id="btnDeleteAll"> Xoá Tất Cả</a>
            </div>
        </div>
        <div class="card-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> <input type="checkbox" id="SelectAll" /></th>

                        <th> STT</th>
                        <th> Tiêu Đề </th>
                        <th> Ngày Tạo </th>
                        <th style="width:150px"> </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i =  1;
                        foreach (var item in Model)
                        {
                            //var srtCheck = item.IsActive ? "<a href='#'> <i class= 'fa fa-check text-success'> </i> </a>" : "<a href='#'> <i class= 'fas fa-times text-danger'> </i> </a>";

                            <tr id="trow_@item.Id">
                                <td> <input type="checkbox" class="cbkItem" data-id="@item.Id" /></td>

                                <td>@i</td>
                                <td>@item.Title</td>>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                @*<td class="text-center">
                                    @Html.Raw(srtCheck)
                                </td>*@
                                <td>
                                    <a href="/admin/productcategory/edit/@item.Id" class="btn btn sm btn-primary">Edit</a>
                                    <a href="#" data-id="@item.Id" class="btn btn sm btn-danger btnDelete">Delete</a>

                                </td>
                            </tr>
                            i++;
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="4">không có bản ghi nào!</td>
                        </tr>

                    }
                </tbody>
            </table>
           @* @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', "#btnDeleteAll", function (e) {
                e.preventDefault();
                var str = "";

                var checkbox = $(this).parents('.card').find('tr td input:checkbox');
                var i = 0;
                checkbox.each(function () {
                    if (this.checked) {
                        checkbox.attr('selected', 'checked')
                        var _id = $(this).data('id');
                        if (i === 0) {
                            str += _id;
                        }
                        else {
                            str += "," + _id;
                        }
                        i++;
                    }
                    else {
                        checkbox.attr('selected', '')
                    }
                });
                if (str.length > 0) {
                    var conf = confirm("Bạn có muốn xoá các bản ghi này hay không !")
                    if (conf === true) {
                        $.ajax({
                            url: '/admin/news/deleteAll',
                            type: "POST",
                            data: { ids: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();
                                }
                                else {
                                    alert("Xoá không thành công!");
                                }
                            }
                        })
                    }

                }
            });
            $('body').on('change', "#SelectAll", function () {
                var checkStatus = this.checked;
                //alert(checkStatus)
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr('selected', 'checked')
                    }
                    else {
                        checkbox.attr('selected', '')

                    }
                })
            })
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');
                //alert(id)
                var conf = confirm("Bạn có muốn xoá bản ghi này không?");
                if (conf === true) {
                    $.ajax({
                        url: '/admin/productcategory/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                            else {
                                alert("Xoá không thành công!");
                            }
                        }
                    });
                }
            });
        });
    </script>
}
